<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1" [(ngModel)]="sideMenuItems" ngDefaultControl>
    <a clrVerticalNavLink *ngFor="let sideMenuItem of sideMenuItems" [routerLinkActive]="['active']" [routerLink]="[sideMenuItem.path]">
        <clr-icon [(shape)]='sideMenuItem.icon' clrVerticalNavIcon>
        </clr-icon>
        <span class="nav-text">{{ sideMenuItem.title }}</span>
    </a>
</clr-vertical-nav>
<main class="content-area">
    <router-outlet></router-outlet>
</main>