@import '../../zoning.component.scss';

svg {
    display: flex;
    width: 20rem;
}

#Other {
    fill: #4273cc;
}

#Special {
    fill: #fff;
    font-size: 10px;
}

#MX {
    fill: #cff;
    font-size: 15px;
}

#Ind {
    fill: #a18aad;
    font-size: 15px;
}

#Com {
    font-size: 13px;
    fill: #fc8b93;
}

#Res {
    fill: #fffaca;
}

.zoneText {
    user-select: none;
    font-family: 'Century Gothic';
    font-weight: bold;
    cursor: pointer;
}

.bgrnd {
    fill: black;
}

#Res:hover .bgrnd,
#Com:hover .bgrnd,
#Ind:hover .bgrnd,
#MX:hover .bgrnd,
#Special:hover .bgrnd,
#Other:hover .bgrnd {
    fill: dimgrey;
    cursor: pointer;
}

#Res:active .bgrnd,
#Com:active .bgrnd,
#Ind:active .bgrnd,
#MX:active .bgrnd,
#Special:active .bgrnd,
#Other:active .bgrnd {
    fill: orchid;
}