<div class="content-container as-responsive-content">
    <main class="as-main">
        <div class="as-map-area">
            <div id="map"></div>
        </div>
    </main>
</div>
<clr-vertical-nav [ngStyle]='mapNavStyle' [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" ngDefaultControl>
    <div class='nav-item'>
        <clr-icon class='map-icon' clrVerticalNavIcon shape="info-circle">
        </clr-icon>
        <span class='nav-text'>legend</span>
    </div>
    <div class="nav-group">
        <clr-icon class='map-icon' clrVerticalNavIcon shape="layers">
        </clr-icon>
        <span class="nav-item">
            <div class="as-panel__element">
                <section class="as-box">
                    <as-legend id="legendsLocation" heading="Layers">
                        <as-legend-category slot="legends" id="legend">
                        </as-legend-category>
                    </as-legend>
                </section>
            </div>
        </span>
    </div>
</clr-vertical-nav>