<p-dataView #dv [value]="listOfData" [paginator]="true" [rows]="8" filterBy="document" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-4">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)"
                        [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <clr-icon shape='search' size='20' style="margin-right: .5rem;"></clr-icon>
                    <input type="search" name="search" class="clr-input" ngDefaultControl pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </div>
                <div class="ui-g-4">
                    {{ listOfData.length }} {{ listOfData[0].type }}s
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-data pTemplate="listItem">
        <div class="ui-g data-details">
            <div class="ui-g-6 data-doc">{{data.document}}</div>
            <div class="ui-g-6">
                <div class="ui-g-6"><strong>Published</strong>:  {{data.pubDate | date}}</div>
                <div class="ui-g-6"><strong>File Types</strong>:  {{data.filetype}}</div>
            </div>
            <div class="ui-g-12">
                <p-button class="ui-g-6" icon="pi pi-plus" styleClass="ui-button-info" (onClick)="openDoc($event, data)"></p-button>
                <p-button class="ui-g-6" icon="pi pi-external-link" styleClass="ui-button-secondary" (onClick)="openSource(data.link)"></p-button>
            </div>
        </div>
    </ng-template>
</p-dataView>
<clr-modal id='DocView' [clrModalSize]="'xl'" *ngIf="selectedDoc" [(clrModalOpen)]="displayDialog" [clrModalStaticBackdrop]="false">
    <h2 class="modal-title">
        {{ selectedDoc.document }}
    </h2>
    <div class="modal-body">
        <iframe *ngIf="selectedDoc" [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedDoc.embedLink)">
        </iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="displayDialog = false">
            back
        </button>
    </div>
</clr-modal>