<p-table #dt 
    [value]="listOfData"
    (onRowSelect)="sidebarVisibility = true"
    selectionMode="single"
    [(selection)]="selectedDoc"
    [columns]="cols" 
    dataKey="id">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" [class]="col.width">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-expanded="expanded" let-columns="columns">
        <tr [pSelectableRow]="data">
            <td *ngFor="let col of columns" [class]="col.width">
                <ng-container *ngIf="col.date">
                    {{ data[col.field] | date }}
                </ng-container>
                <ng-container *ngIf="!col.date">
                    {{ data[col.field] }}
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data let-columns>
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div>{{ data.data.id }}</div>
                            <div>{{ data.label }}</div>
                            <div>{{ data.data.pubDate }}</div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-sidebar *ngIf="selectedDoc" [(fullScreen)]="fullScreen" [(visible)]="sidebarVisibility" styleClass="ui-sidebar-lg" position="right">
    <h2 style="font-weight:normal">{{ selectedDoc.label }}</h2>
    <p-fieldset legend="View Plan" (onBeforeToggle)="iframeVis = true" [toggleable]="true" [collapsed]="true">
        <iframe class="ui-g-12" [ngStyle]="{'border':'none','height':'70vh'}" *ngIf="iframeVis === true"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedDoc.embedLink)">
        </iframe>
    </p-fieldset>
    <p-fieldset legend="Info" [toggleable]="true">
        <h3 style="font-weight:normal">Published {{ selectedDoc.pubDate | date}}</h3>
        <h3 style="font-weight:normal">{{ selectedDoc.description }}</h3>
    </p-fieldset>
    <button type="button" class="btn btn-primary" (click)="sidebarVisibility = false">
        back
    </button>
</p-sidebar>