<clr-datagrid>
    <clr-dg-column>Document</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Last Modified</clr-dg-column>
    <clr-dg-column>File Type</clr-dg-column>
    <clr-dg-column>Tag</clr-dg-column>

    <clr-dg-row *ngFor="let data of listOfData">
        <clr-dg-cell>{{data.document}}</clr-dg-cell>
        <clr-dg-cell>{{data.type}}</clr-dg-cell>
        <clr-dg-cell>{{data.lastModified}}</clr-dg-cell>
        <clr-dg-cell>{{data.fileType}}</clr-dg-cell>
        <clr-dg-cell>
            <span class="color-square" [style.backgroundColor]="data.color"></span>
        </clr-dg-cell>
        <clr-dg-row-detail *clrIfExpanded>
            {{data.description}}
        </clr-dg-row-detail>
    </clr-dg-row>
</clr-datagrid>