<as-responsive-content>
    <main class="as-main">
        <div class="as-map-area">
            <div id="map"></div>
            <div class="as-map-panels" data-name="Legend">
                <div class="as-panel as-panel--top as-panel--right">
                    <div class="as-panel__element">
                        <section class="as-box">
                            <as-legend id="legendsLocation" heading="Layers">
                                <as-legend-category slot="legends" id="legend">
                                </as-legend-category>
                            </as-legend>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</as-responsive-content>