<div class="card">
    <div class="card-block clr-row">
        <clr-vertical-nav style.color="black" [ngStyle]='mapNavStyle' [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [(ngModel)]="legendItems" ngDefaultControl>
            <clr-vertical-nav-group routerLinkActive="active" *ngFor="let legendItem of legendItems">
                <clr-icon [attr.shape]="legendItem.icon" clrVerticalNavIcon></clr-icon>
                <span class="nav-text clr-row clr-justify-content-center">{{ legendItem.title }}</span>
                <clr-vertical-nav-group-children *ngIf='legendItem.children'>
                    <a *ngFor="let legendchild of legendItem.children" clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">
                        <span class="nav-text clr-row clr-justify-content-center">{{ legendchild.title }}</span>
                    </a>
                    <clr-radio-container>
                        <label>Parcel Data</label>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="options" value="base" [(ngModel)]="parcelView" enabled />
                            <label>Base</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="options" value="zoning" [(ngModel)]="parcelView" disabled />
                            <label>Zoning</label>
                        </clr-radio-wrapper>
                        <clr-radio-wrapper>
                            <input type="radio" clrRadio name="options" value="landuse" [(ngModel)]="parcelView" disabled />
                            <label>Land Use</label>
                        </clr-radio-wrapper>
                    </clr-radio-container>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
        <app-map class='content-area clr-row flex-row'></app-map>
    </div>
</div>