@import '../../app.component.scss';
.splash-buttons {
    flex-basis: content;
    .btn {
        display: flex;
        box-shadow: .1rem .1rem .25rem black;
        border-color: transparent;
        font-size: .9rem;
        align-items: center;
        justify-content: space-between;
    }
}

.splash-title {
    display: flex;
    flex-direction: row;
    line-height: normal;
    color: white;
    -webkit-text-fill-color: white;
    font-weight: bold;
    font-size: calc(var(--vw) * 0.01 + 25px);
    border-radius: .5rem;
    margin: unset !important;
    h2 {
        margin: unset;
        text-align: center;
        font-weight: bold;
    }
}

.dept-ehd {
    line-height: 1.2rem !important;
    margin: 0 !important;
}

.dept {
    margin: 0 !important;
    margin-bottom: -1rem !important;
    line-height: normal !important;
}

.full-icon {
    height: 1em;
    width: 1.25em;
}

#search_input {
    width: 100%;
    border-radius: .25rem;
}

.secondary-content {
    height: auto;
    width: 100%;
    margin-bottom: 2rem
}

.mapboxgl-canvas-container {
    height: 100vh;
    color: white;
}

a.btn {
    &.R-1 {
        background-color: #fffaca !important;
    }
    &.R-2 {
        background-color: #fff68f !important;
    }
    &.R-3 {
        background-color: #fff100 !important;
    }
    &.R-4 {
        background-color: #ebd417 !important;
    }
    &.C-1 {
        background-color: #a18aad !important;
    }
    &.C-2 {
        background-color: #da2028 !important;
    }
    &.C-3 {
        background-color: #850204 !important;
        color: white !important;
        -webkit-text-fill-color: white !important;
    }
    &.MX-1 {
        background-color: #e4a024 !important;
    }
    &.MX-2 {
        background-color: #f37520 !important;
    }
    &.MX-3 {
        background-color: #FF2900 !important;
    }
    &.I-1 {
        background-color: #e1c3dd !important;
    }
    &.I-2 {
        background-color: #A53ED5 !important;
    }
    &.I-3 {
        background-color: #c0188c !important;
    }
    &.RDV {
        background-color: #dddddd !important;
    }
    &.PARK {
        background-color: #229A00 !important;
    }
    &.INST {
        background-color: #0063ff !important;
    }
    &.CEM {
        background-color: #561818 !important;
        color: white !important;
        -webkit-text-fill-color: white !important;
    }
    &.PORT {
        background-color: #B81609 !important;
    }
    &.EWR {
        background-color: #820c0c !important;
        color: white !important;
        -webkit-text-fill-color: white !important;
    }
}