<div class="card">
    <div class="card-block clr-row">
        <clr-vertical-nav style.color="black" [ngStyle]='mapNavStyle' [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [(ngModel)]="legendItems" ngDefaultControl>
            <clr-vertical-nav-group routerLinkActive="active" *ngFor="let legendItem of legendItems">
                <clr-icon [attr.shape]="legendItem.icon" clrVerticalNavIcon></clr-icon>
                <span class="nav-text clr-row clr-justify-content-center">{{ legendItem.title }}</span>
                <clr-vertical-nav-group-children *ngIf='legendItem.children'>
                    <a *ngFor="let legendchild of legendItem.children" clrVerticalNavLink routerLinkActive="active" (click)='changeGeo(legendchild.item)'>
                        <span class="nav-text clr-row clr-justify-content-center">{{ legendchild.title }}</span>
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="grid-chart" clrVerticalNavIcon></clr-icon>
                <span class="nav-text clr-row clr-justify-content-center">Parcel Style</span>
                <clr-vertical-nav-group-children>
                    <a clrVerticalNavLink (click)='changeLayer("base")'>
                        <span class="nav-text clr-row clr-justify-content-center">Base</span>
                    </a>
                    <a clrVerticalNavLink (click)='changeLayer("zoning")'>
                        <span class="nav-text clr-row clr-justify-content-center">Zoning</span>
                    </a>
                    <a clrVerticalNavLink (click)='changeLayer("landuse")'>
                        <span class="nav-text clr-row clr-justify-content-center">Land Use</span>
                    </a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
        <app-map class='content-area clr-row flex-row'></app-map>
    </div>
</div>