<div class="card">
    <div class="card-block clr-row">
        <clr-vertical-nav style.color="black" [ngStyle]='mapNavStyle' [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [(ngModel)]="legendItems" ngDefaultControl>
            <a clrVerticalNavLink *ngFor="let legendItem of legendItems">
                <clr-icon clrVerticalNavIcon [attr.shape]="legendItem.icon">
                </clr-icon>
                <span class="nav-text clr-row clr-justify-content-center">{{ legendItem.title }}</span>
            </a>
        </clr-vertical-nav>
        <app-map class='content-area clr-row flex-row'></app-map>
    </div>
</div>