<div class="clr-row clr-justify-content-center" [(ngModel)]="mapInput" ngDefaultControl>
    <div class="clr-col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{ mapInput }}</h2>
            </div>
            <div class="card-block">
                <div class="clr-row clr-justify-content-center">
                    <div class="card-text clr-col-12">
                        <p class='p3'>{{ mapInput }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>