<p-tree 
    class="ui-g-4" 
    [value]="filesTree"
    [filter]="true"
    selectionMode="single" 
    [(selection)]="selectedFile"
    (onNodeSelect)="nodeSelect(selectedFile)">
</p-tree>
<p-card *ngIf="selectedFile" class="ui-g-8">
    <p-header>
        <h2>{{ selectedFile.label }}</h2>
    </p-header>
    <iframe 
        *ngIf="selectedFile"
        [src]="sanitizer.bypassSecurityTrustResourceUrl(selectedFile.data.embedLink)">
    </iframe>
    <p-footer>
        <h2>{{ selectedFile.data.pubDate | date}}</h2>
    </p-footer>
</p-card>