<div class="clr-row clr-justify-content-center" *ngFor='let leader of leadership$'>
    <div class="clr-col-lg-8 clr-col-md-10 clr-col-12">
        <div class="card ">
            <div class="card-header">
                <h2>{{ leader.fields['Name-First']}}</h2>
                <a *ngFor="let tag of leader.fields['Tags'] " class="label label-purple clickable ">
                                  {{ tag }}
                                </a>
            </div>
            <div class="card-block">
                <div class="clr-row clr-justify-content-center">
                    <div class="card-text clr-col-7">
                        <p class='p3'>{{ leader.fields['Bio'] }}</p>
                    </div>
                    <div class="card-img clr-col-4">
                        <img src="{{ leader.fields[ 'Headshot'][0][ 'url'] }} " />
                    </div>
                </div>
            </div>

            <div class="card-footer ">
                <button class="btn btn-sm btn-link ">Footer Action 1</button>
                <button class="btn btn-sm btn-link ">Footer Action 2</button>
            </div>
        </div>
    </div>
</div>