<app-splash [backgroundSetting]='backgroundStyle' searchDisplay="inherit">
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>Department of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Economic & Housing Development</h2>
    </div>
    <h2 splash-title class='splash-title'>
        <clr-icon shape='home' class='full-icon'></clr-icon>
        Welcome to EHD
    </h2>
</app-splash>
<section class="secondary-content">
    <div class="p-grid" [style]="{'height':'50vh'}">
        <p-card header="EHD" class="p-md-4 p-col-12" [style]="{'height':'100%', 'padding':'1rem'}">
            <p-header>
                <img class="p-lg-6 p-col-12" src="../../../assets/img/Allison_Fitzgibbon.png" [style]="{'padding':'0','max-height': '33vh','border-radius': '.25rem'}">
            </p-header>
            Director Allison Ladd
            <p-footer>
                <button class="btn btn-success btn-lg btn-block " routerLink="/ehd/about">
                    <clr-icon [attr.shape]='"users"' size='24'></clr-icon>
                    <span>About EHD</span>
                </button>
            </p-footer>
        </p-card>
        <p-card header="Our Offices" class="p-md-8 p-col-12" [style]="divisions">
            <div class="p-grid p-justify-even" [style]="divisionsDiv">
                <p-button *ngFor="let node of ehdOrg" label="Led by {{ node.officer }}" type="button" icon="pi pi-external-link" iconPos="right" class="p-md-6 p-col-12" [style]="divisionButton" [routerLink]="node.parentLink">
                    <h2 [style]="{'font-size': '1rem', 'line-height': '2rem', 'margin': 'auto', 'font-weight':'600'}">{{ node.text }}</h2>
                </p-button>
            </div>
        </p-card>
    </div>
</section>