<app-splash [backgroundSetting]='backgroundStyle' searchDisplay="inherit">
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>Department of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Economic & Housing Development</h2>
    </div>
    <h2 splash-title class='splash-title'>
        <clr-icon shape='home' class='full-icon'></clr-icon>
        Welcome to EHD
    </h2>
    <!-- <div splash-buttons class="clr-col clr-col-xl-5 clr-col-lg-6 clr-col-md-8 clr-col-12 splash-buttons">
        <button class="btn btn-secondary btn-success btn-lg btn-block" [routerLink]="['/ehd', 'about']">
            <clr-icon shape='users' size='24'></clr-icon>
            About EHD
        </button>
        <button *ngFor="let button of button$ " class="btn btn-primary btn-lg btn-block " [routerLink]="button.parentLink">
          <clr-icon [attr.shape]='button.icon' size='24'></clr-icon>
          <span class=" clr-hidden-sm-down ">{{ button.text }}</span>
          <span class="clr-hidden-sm-up ">{{ button.textSmall }}</span>
        </button>
    </div> -->
</app-splash>
<section class="secondary-content">
    <div class="p-grid">
        <div class="p-grid p-md-4 p-col-12">
            <p-card header="EHD" class="p-col-12 director-grid" [style]="{'height':'100%'}">
                <p-header>
                    Director Allison Ladd
                </p-header>
                Body Content
                <p-footer>
                    <button class="btn btn-success btn-lg btn-block " routerLink="/ehd/about">
                        <clr-icon [attr.shape]='"users"' size='24'></clr-icon>
                        <span>About EHD</span>
                    </button>
                </p-footer>
            </p-card>
        </div>
        <div class="p-md-8 p-col-12 office-grid">
            <div class="p-grid">
                <p-card class="p-col-6" *ngFor="let node of ehdOrg" header="{{node.text}}">
                    {{ node.officer }}
                    <p-footer>
                        <button class="btn btn-primary btn-lg btn-block " [routerLink]="node.parentLink">
                            <clr-icon [attr.shape]='"pop-out"' size='24'></clr-icon>
                            <span>Office Home Page</span>
                        </button>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>
</section>