<clr-main-container>
    <clr-header class='header header-1'>
        <div class="branding">
            <a href='https://newarknj.gov/' class='h1 clr-row clr-align-content-center'>NWK</a>
            <hr class='nav-divider clr-hidden-md-down'>
            <a href='https://newarknj.gov/' class='h1 clr-row clr-hidden-md-down clr-align-content-center'>City of Newark</a>
        </div>
        <div class="header-actions">
            <h3 class='clr-row clr-hidden-md-down clr-align-content-center'>divisions</h3>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="organization" class="has-badge is-solid"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <a style='font-weight: bold; font-size: 1rem; white-space: pre-line;line-height: 2rem;' [routerLinkActive]="['active']" routerLink="/ehd" clrDropdownItem>
                        <clr-icon shape="bank"></clr-icon>
                        EHD Main
                    </a>
                    <div class='dropdown-divider'></div>
                    <h4 class="dropdown-header" style='font-weight: bold; font-size: 1rem; white-space: pre-line;line-height: 2rem;'>Divisions</h4>
                    <p-carousel [value]="divisions" [numVisible]="1" [numScroll]="1" [circular]="true">
                        <ng-template let-divisions pTemplate="item">
                            <a routerLink="{{ divisions.path }}" clrDropdownItem>
                                <img src="../assets/img/NwkEhdLogos/SVG_sm/NwkEhd_divs_web_mini_{{ divisions.name }}.svg" />
                                <br>
                                <span style='font-weight: bold; font-size: 1.4rem; white-space: pre-line;line-height: 2rem;'>{{divisions.name}}</span>
                                <br>
                                <clr-icon shape="child-arrow"></clr-icon>
                            </a>
                        </ng-template>
                    </p-carousel>
                    <!-- <a href="#" clrDropdownItem>
                        <clr-icon shape="child-arrow"></clr-icon>
                        Housing
                    </a>
                    <a href="#" clrDropdownItem>
                        <clr-icon shape="child-arrow"></clr-icon>
                        Opportunity Zones
                    </a>
                    <a [routerLinkActive]="['active']" routerLink="/opz" clrDropdownItem>
                        <clr-icon shape="child-arrow"></clr-icon>
                        Planning & Zoning
                    </a>
                    <a href="#" clrDropdownItem>
                        <clr-icon shape="child-arrow"></clr-icon>
                        Property Management
                    </a>
                    <a [routerLinkActive]="['active']" routerLink="/rc" clrDropdownItem>
                        <clr-icon shape="child-arrow"></clr-icon>
                        Rent Control
                    </a> -->
                </clr-dropdown-menu>
            </clr-dropdown>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="search" class="has-badge is-solid"></clr-icon>
                </button>
                <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                    <app-search class='dropdown-header'></app-search>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <router-outlet></router-outlet>
</clr-main-container>