<app-splash [backgroundSetting]='backgroundStyle' parentFragment='/opz'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>division of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Planning & Zoning</h2>
    </div>
    <h2 splash-title class='splash-title'>
        <clr-icon shape='users' class='full-icon'></clr-icon>
        Boards & Commissions
    </h2>
    <div splash-buttons class="clr-col clr-col-xl-5 clr-col-lg-6 clr-col-md-8 clr-col-12 splash-buttons">
        <button *ngFor="let button of button$" (click)="overlay($event, op2)" class="btn btn-primary btn-lg btn-block">
          <clr-icon [attr.shape]='button.icon' size='24'></clr-icon>
          <span class="clr-hidden-sm-down">{{ button.text }}</span>
          <span class="clr-hidden-sm-up">{{ button.textSmall }}</span>
        </button>
    </div>
</app-splash>
<section class='secondary-content'>
    <h2 [ngStyle]="{'color':'white' }" class='clr-justify-content-center'>Board Members</h2>
    <nav mat-tab-nav-bar [ngStyle]="{'margin':'.5rem' }">
        <a mat-tab-link *ngFor="let link of subComponents" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" (click)='getTab(link.path)'>
            {{link.label}}
        </a>
    </nav>
    <div id="tabs-content">
        <div class="clr-row clr-justify-content-center" *ngFor='let board of board$'>
            <div class="clr-col-lg-8 clr-col-md-10 clr-col-12">
                <div class="card ">
                    <div class="card-header">
                        <h2>{{ board.fields['Name-First']}} {{ board.fields['Name-Last'] }}</h2>
                        <span *ngIf="board.fields['Position']" class="label label-warning" [ngStyle]="{'font-size': '.75rem'}" innerHtml="{{ board.fields['Position'] }}"></span>
                    </div>
                    <div class="card-block">
                        <div class="clr-row clr-justify-content-center">
                            <div class="card-text clr-col-12">
                                <p class='p3'>{{ board.fields['BoardCommission'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="true">
    <p-fullCalendar id="calendar" [events]="events" [options]="calOptions"></p-fullCalendar>
</p-overlayPanel>