<div class="card">
    <div class="card-block clr-row">
        <opz-lot></opz-lot>
        <div class="card-footer">
            <form clrForm ngDefaultControl>
                <clr-select-container>
                    <label>Choose a Zone</label>
                    <select clrSelect name="options" [(ngModel)]="zoneName" (change)='changeTypes(zoneName)'>
                        <option *ngFor="let zone of zoneOptions" [value]="zone">{{ zone }}</option>
                    </select>
                </clr-select-container>
                <clr-select-container>
                    <label>Choose a Building Type</label>
                    <select clrSelect name="options" [(ngModel)]="bldgType">
                        <option *ngFor="let type of buildingTypes" [value]="type">{{ type }}</option>
                    </select>
                </clr-select-container>
            </form>
            <button type="submit" class="btn btn-success-outline" (click)="changeDiagram(zoneName,bldgType)">Submit</button>
        </div>
    </div>
</div>