@import '../../app.component.scss';
.card {
    color: black;
    -webkit-text-fill-color: black;
}

.title-zone {
    user-select: none;
    font-size: 4rem;
    font-family: 'Century Gothic';
    font-weight: 700;
}

.title-bldg {
    user-select: none;
    font-size: 1rem;
    font-weight: 400;
}

.list {
    color: white;
    -webkit-text-fill-color: white;
}