<div class="card">
    <div class="card-header">
        <clr-dropdown id="Title">
            <button class="btn btn-outline-primary" clrDropdownTrigger>
                {{ zoneSelect }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
                <label class="dropdown-header" aria-hidden="true">Pick a Zone</label>
                <div clrDropdownItem *ngFor="let zone of zoneOptions" >{{ zone }}</div>
                <div clrDropdownItem>Link 2</div>
            </clr-dropdown-menu>
        </clr-dropdown>
            
            <clr-icon shape="caret down"></clr-icon>
            <span class="title-bldg">
                {{ bldgTypeSel }}
                <clr-icon shape="caret down"></clr-icon>
            </span>
        </h2>
    </div>
    <div class="card-block clr-row">
        <opz-lot [dimensions]='dimensions'></opz-lot>
    </div>
     <div class="card-footer">
            <form clrForm>
                <clr-select-container>
                    <label>Choose a Zone</label>
                    <select clrSelect required name="zones" [(ngModel)]="zoneName" (change)='changeTypes(zoneName)'>
                        <option *ngFor="let zone of zoneOptions" [value]="zone">{{ zone }}</option>
                    </select>
                </clr-select-container>
                <clr-select-container>
                    <label>Choose a Building Type</label>
                    <select clrSelect required name="bldgTypes" [(ngModel)]="bldgType">
                        <option *ngFor="let type of buildingTypes" [value]="type">{{ type }}</option>
                    </select>
                </clr-select-container>
                <button type="submit" class="btn btn-success-outline" (click)="changeDiagram(zoneName,bldgType)">Submit</button>
            </form>
        </div>
</div>