<div class="card">
    <div class="card-block clr-row">
        <opz-lot [zone]="zoneName"></opz-lot>
        <div class="card-footer">
            <form clrForm (submit)="changeDiagram(zoneName)">
                <clr-datalist-container>
                    <input clrDatalistInput [(ngModel)]="zoneName" placeholder="Search for a Zone" name="Options" />
                    <datalist id='zoneChoices'>
                        <option *ngFor="let zone of zoneOptions" [value]="zone"></option>
                    </datalist>
                </clr-datalist-container>
            </form>
        </div>
    </div>
</div>