<app-splash [backgroundSetting]='backgroundStyle' logoSrc='assets/img/NwkLogo-ext.svg' parentFragment='/opz'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>division of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Planning & Zoning</h2>
    </div>
    <h2 splash-title class='splash-title' *ngFor='let splash of splashTitle$'>
        <clr-icon shape='users' class='full-icon'></clr-icon>
        {{ splash.fields['Content'] }}
    </h2>
    <div splash-buttons class="clr-col clr-col-xl-5 clr-col-lg-6 clr-col-md-8 clr-col-12 splash-buttons">
        <button *ngFor="let button of button$" class="btn btn-primary btn-lg btn-block">
          <clr-icon [attr.shape]='button.icon' size='24'></clr-icon>
          <span class="clr-hidden-sm-down">{{ button.text }}</span>
          <span class="clr-hidden-sm-up">{{ button.textSmall }}</span>
        </button>
    </div>
</app-splash>
<section class='secondary-content'>
    <h2 [ngStyle]="{'color':'white' }" class='clr-justify-content-center'>Recent Work</h2>
    <div class="clr-row clr-justify-content-center" *ngFor='let article of article$'>
        <div class="clr-col-xl-8 clr-col-md-10 clr-col-12">
            <div class="card ">
                <div class="card-header">
                    <h2>{{ article.fields['Name']}}</h2>
                    <span *ngFor="let tag of article.fields['Tags'] " class="label label-info" [ngStyle]="{'font-size': '.6rem'}" innerHtml="{{ tag }}">
                    </span>
                </div>
                <div class="card-block">
                    <div class="clr-row clr-justify-content-center">
                        <div class="card-text clr-col-7">
                            <p class='p3'>{{ article.fields['BodyText'] }}</p>
                        </div>
                        <div class="card-img clr-col-4">
                            <img src="{{ article.fields[ 'CoverPhoto'][0][ 'url'] }} " />
                        </div>
                    </div>
                </div>

                <div class="card-footer ">
                    <button class="btn btn-sm btn-link ">Footer Action 1</button>
                    <button class="btn btn-sm btn-link ">Footer Action 2</button>
                </div>
            </div>
        </div>
    </div>
</section>