@import '../../../../app.component.scss';
#Hex {
    display: flex;
    width: 8rem;
    margin-left: 1rem;
    svg {
        width: 100%;
    }
}

#R-1 {
    fill: #fffaca;
}

#R-2 {
    fill: #fff68f;
}

#R-3 {
    fill: #fff100;
}

#R-4 {
    fill: #ebd417;
}

#R-5 {
    fill: #fbb03b;
}

#R-6 {
    fill: #ff931e;
}

.zoneText {
    user-select: none;
    font-family: 'Century Gothic';
    font-weight: bold;
    cursor: pointer;
}

.bgrnd {
    fill: black;
}

#R-1:hover .bgrnd,
#R-2:hover .bgrnd,
#R-3:hover .bgrnd,
#R-4:hover .bgrnd,
#R-5:hover .bgrnd,
#R-6:hover .bgrnd {
    fill: dimgrey;
    cursor: pointer;
}

#R-1:active .bgrnd,
#R-2:active .bgrnd,
#R-3:active .bgrnd,
#R-4:active .bgrnd,
#R-5:active .bgrnd,
#R-6:active .bgrnd {
    fill: orchid;
}

#typeSlider {
    width: 33vw;
    height: 5px;
}