<app-splash [backgroundSetting]='backgroundStyle' searchDisplay="inherit" logoSrc='assets/img/NwkLogo-ext.svg' parentFragment='/opz'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>Division of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Planning & Zoning</h2>
    </div>
    <h2 splash-title class='splash-title' *ngFor='let splash of splashTitle$'>
        <clr-icon shape='home' class='full-icon clr-hidden-sm-down'></clr-icon>
        {{ splash.fields['Content'] }}
    </h2>
    <div splash-buttons class="clr-col clr-col-xl-5 clr-col-lg-6 clr-col-md-8 clr-col-12 splash-buttons">
        <a *ngFor="let button of button$" class="btn btn-primary btn-lg btn-block" href="{{ button.link }}">
            <clr-icon [attr.shape]='button.icon' size='24'></clr-icon>
            <span class="clr-hidden-sm-down">{{ button.text }}</span>
            <span class="clr-hidden-sm-up">{{ button.textSmall }}</span>
        </a>
    </div>
</app-splash>