<div class="clr-row">
    <div class="clr-col-12">
        <div class="card" [(ngStyle)]="backgroundSetting">
            <div class='card-header clr-row clr-align-content-start'>
                <img [src]='logoSrc' class="clr-col-4 clr-col-sm-2 clr-col-xl-1" [routerLink]="[parentFragment, 'home']">
                <ng-content select='[splash-page]'></ng-content>
            </div>
            <div class="card-block clr-justify-content-center clr-col clr-col-sm-10 clr-col-12">
                <div class="card-title clr-row clr-row-11">
                    <ng-content select='[splash-title]'></ng-content>
                    <ng-content select='[splash-subtitle]'></ng-content>
                </div>
                <div [(style.display)]="searchDisplay" class='app-search clr-flex clr-col-12 clr-col-sm-12 clr-col-md-10 clr-col-lg-6 clr-col-xl-5'>
                    <form class="clr-form clr-col-12" [formGroup]="exampleForm">
                        <div class="clr-form-control clr-flex-row" [ngStyle]="{
                            'background': 'rgba(200, 10, 200, .85)', 
                            'padding': 'inherit',
                            'border-radius': '.25rem'}">
                            <label for="example" class="clr-align-self-center clr-col-1">
                            <clr-icon class='clr-control-inline' shape="search"></clr-icon>
                        </label>
                            <div class="clr-control-container clr-col-11">
                                <div class="clr-input-wrapper">
                                    <input type="text" id="example" placeholder="What are you looking for?" class="clr-input">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-content select='[splash-buttons]'></ng-content>
                <ng-content select='[splash-text]'></ng-content>
            </div>
        </div>
    </div>
</div>