<app-splash [backgroundSetting]='backgroundStyle' parentFragment='/opz'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>division of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Planning & Zoning</h2>
    </div>
    <h2 splash-title class='splash-title' *ngFor='let splash of splashTitle$'>
        <clr-icon shape='users' class='full-icon'></clr-icon>
        {{ splash.fields['Content'] }}
    </h2>
</app-splash>
<section class='secondary-content'>
    <h2 class='clr-justify-content-center'>Our Staff</h2>
    <nav mat-tab-nav-bar [ngStyle]="{'margin':'.5rem' }">
        <a mat-tab-link *ngFor="let link of subComponents" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" (click)='getTab(link.path)'>
            {{link.label}}
        </a>
    </nav>
    <div id="tabs-content">
    <div class="clr-row clr-justify-content-center" *ngFor='let staff of staff$'>
        <div class="clr-col-lg-8 clr-col-md-10 clr-col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">{{ staff.fields['Name-First']}} {{ staff.fields['Name-Last'] }}</h2>
                    <span class="label label-info" [ngStyle]="{'font-size': '.75rem'}"
                        innerHtml="{{ staff.fields['Position'] }}"></span>
                </div>
                <div class="card-block">
                    <div class="clr-row clr-justify-content-center">
                        <div class="clr-col-11">
                            <img src="{{ staff.fields['Headshot'][0]['url'] }} " class='card-image'/>
                            <p innerHtml="{{ staff.fields['Bio'] }}"></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-lg clr-col-6" (click)="copyVal(staff.fields['Room'], 'Room Number')">City Hall | Room {{ staff.fields['Room'] }}</button>
                    <button class="btn btn-lg clr-col-5" (click)="copyVal(staff.fields['Phone'], 'Phone Number')">Tel: {{ staff.fields['Phone'] }}</button>
                    <button class="btn btn-lg clr-col-12" (click)="copyVal(staff.fields['Email'], 'Email')">Email: {{ staff.fields['Email'] }}</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<p-toast></p-toast>