<app-splash [backgroundSetting]='backgroundStyle' parentFragment='/opz'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>division of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Planning & Zoning</h2>
    </div>
    <h2 splash-title class='splash-title' *ngFor='let splash of splashTitle$'>
        <clr-icon shape='users' class='full-icon'></clr-icon>
        {{ splash.fields['Content'] }}
    </h2>
</app-splash>
<section class='secondary-content'>
    <h2 [ngStyle]="{'color':'white' }" class='clr-justify-content-center'>Our Staff</h2>
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of subComponents" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" (click)='getTab(link.path)'>
            {{link.label}}
        </a>
    </nav>
    <div id="tabs-content">
    <div class="clr-row clr-justify-content-center" *ngFor='let staff of staff$'>
        <div class="clr-col-lg-8 clr-col-md-10 clr-col-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{ staff.fields['Name-First']}} {{ staff.fields['Name-Last'] }}</h2>
                    <span class="label label-warning" [ngStyle]="{'font-size': '.75rem'}"
                        innerHtml="{{ staff.fields['Position'] }}"></span>
                </div>
                <div class="card-block">
                    <div class="clr-row clr-justify-content-center">
                        <div class="card-text clr-col-11">
                            <img src="{{ staff.fields['Headshot'][0]['url'] }} " class='card-image'/>
                            <h5 innerHtml="{{ staff.fields['Bio'] }}"></h5>
                        </div>
                    </div>
                </div>
    
                <div class="card-footer ">
                    <button class="btn btn-lg btn-secondary">City Hall | Office: Room {{ staff.fields['Room'] }}</button>
                    <a class="btn btn-lg btn-secondary" href="mailto:{{ staff.fields['Email'] }}?Subject=Website%20Inquiry">Email: {{ staff.fields['Email'] }}</a>
                    <a class="btn btn-lg btn-secondary" href="tel:{{ staff.fields['Phone'] }}">Tel: {{ staff.fields['Phone'] }}</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>