@import '../zoning.component.scss';
.card {
    color: black;
    -webkit-text-fill-color: black;
}

.title-zone {
    user-select: none;
    font-size: 4rem;
    font-family: 'Century Gothic';
    font-weight: 700;
    height: 4.15rem;
    padding: inherit;
    margin: auto;
    margin-left: 0;
    width: max-content;
    border-radius: .25rem;
    color: black;
    -webkit-text-fill-color: black;
}

.title-bldg {
    user-select: none;
    font-size: 1rem;
    font-weight: 400;
}

.list {
    color: white;
    -webkit-text-fill-color: white;
}