<div class="card">
    <div class="card-header">
        <h2 class="title-zone" [style.background]="zoningColors(zoneName)">
            {{ zoneSelect }}
        </h2>
        <p class="title-bldg">
            {{ bldgTypeSel }}<br>
            Minimum Lot Size: {{ dimensions.lotSize }} sq ft<br>
            <button type="submit" class="btn btn-success-outline" (click)="opened = true">Get Report</button>
            <clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false">
                <h3 class="modal-title">
                    {{ zoneSelect }}<br>{{ bldgTypeSel }}
                </h3>
                <div #reqReport class="modal-body">
                    <ul class="list">
                        <li>Min Lot Size: {{ currentReqs.MinLotSize }} square feet</li>
                        <li>Min Lot Width: {{ currentReqs.MinLotWidth }} feet</li>
                        <li>Max Building Height:
                            <ul class="list">
                                <li>{{ currentReqs.MaxBuildingHeight.height }} feet</li>
                                <li>{{ currentReqs.MaxBuildingHeight.stories }} stories</li>
                            </ul>
                        <li>Front Yard
                            <ul class="list">
                                <li *ngFor='let FrontYard of currentReqs.FrontYard; let i = index'><span *ngIf='currentReqs.FrontYardType[i]'>{{ currentReqs.FrontYardType[i] | titlecase}}</span>: {{ FrontYard }} feet</li>
                            </ul>
                        </li>
                        <li>Side Yard
                            <ul class="list">
                                <li *ngFor='let SideYard of currentReqs.SideYard; let j = index'><span *ngIf='currentReqs.SideYardType[j]'>{{ currentReqs.SideYardType[j] | titlecase}}</span>: {{ SideYard }} feet</li>
                            </ul>
                        </li>
                        <li>Min Rear Yard
                            <ul class="list">
                                <li *ngFor='let MinRearYard of currentReqs.MinRearYard; let k = index'><span *ngIf='currentReqs.MinRearYardType[k]'>{{ currentReqs.MinRearYardType[k] | titlecase }}</span>: {{ MinRearYard }} feet</li>
                            </ul>
                        </li>
                        <li>Max Lot Coverage: </li>
                        <li>Min Lot Width: </li>
                        <li>Max Impervious Area: </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="copyReqs()">Add to Clipboard</button>
                    <button type="button" class="btn btn-primary" (click)="opened = false">
                        I'm the only way to close the modal!
                    </button>
                </div>
            </clr-modal>
        </p>
    </div>
    <div class="card-block clr-row">
        <opz-lot [dimensions]='dimensions'></opz-lot>
    </div>
     <div class="card-footer">
        <form clrForm>
            <clr-select-container>
                <label>Choose a Zone</label>
                <select clrSelect required name="zones" [(ngModel)]="zoneName" (change)='changeTypes(zoneName)'>
                    <option *ngFor="let zone of zoneOptions" [value]="zone">{{ zone }}</option>
                </select>
            </clr-select-container>
            <clr-select-container>
                <label>Choose a Building Type</label>
                <select clrSelect required name="bldgTypes" [(ngModel)]="bldgType">
                    <option *ngFor="let type of buildingTypes" [value]="type">{{ type }}</option>
                </select>
            </clr-select-container>
            <button type="submit" class="btn btn-success-outline" (click)="changeDiagram(zoneName,bldgType)">Check Requirements</button>
        </form>
    </div>
</div>
