:host {
    width: 50vh;
    height: 75vh;
}

svg {
    width: inherit;
    height: inherit;
    margin-top: 4rem;
}

.yard {
    fill: #9bf78b;
}

.envelope {
    fill: linear-gradient(0deg, #c7b299 50%, #BC9975 50%);
}

.asphalt {
    fill: #515151;
}

.walkway {
    fill: #c1c1c1;
}

.lotOutline,
.scaleLine {
    fill: none;
    stroke: #000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
    stroke-linejoin: round;
}

.scaleText {
    font-size: 4px;
    user-select: none;
}

.scaleText,
.cls-9 {
    font-family: 'Century Gothic';
}

.title-zone {
    user-select: none;
    font-size: 4rem;
    font-family: 'Century Gothic';
    font-weight: 700;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.title-bldg {
    user-select: none;
    font-size: 1rem;
    font-weight: 400;
}

#envelope:hover,
#LeftSide.yard:hover,
#RightSide.yard:hover,
#Driveway.asphalt:hover,
#Sidewalk.walkway:hover,
#Walkway:hover,
#Stoop:hover,
#FrontYard:hover,
#RearYard:hover {
    fill: lightsteelblue;
    cursor: pointer;
}

#envelope:active,
#LeftSide.yard:active,
#RightSide.yard:active,
#Driveway.asphalt:active,
#Sidewalk.walkway:active,
#Walkway:active,
#Stoop:active,
#FrontYard:active,
#RearYard:active {
    fill: orchid;
    cursor: pointer;
}

#DiagramTextBox {
    color: white;
    -webkit-text-fill-color: white;
    background-color: rgba(100, 100, 100, .75);
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    user-select: none;
    margin: 0;
    padding: .25rem;
    position: absolute;
    z-index: 99;
}