:host {
    width: 50vh;
    height: 75vh;
}

svg {
    width: inherit;
    height: inherit;
}

.yard {
    fill: #9bf78b;
}

.envelope {
    fill: #c7b299;
}

#envelope:hover .envelope {
    fill: darkslategrey;
    cursor: pointer;
}

#envelope:active .envelope {
    fill: slategray
}

.asphalt {
    fill: #515151;
}

.walkway {
    fill: #c1c1c1;
}

.lotOutline,
.scaleLine {
    fill: none;
    stroke: #000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
    stroke-linejoin: round;
}

.scaleText {
    font-size: 4px;
}

.scaleText,
.cls-9 {
    font-family: 'Century Gothic';
}

.title-zone {
    font-size: 8px;
    font-family: 'Century Gothic';
    font-weight: 700;
}

.title-bldg {
    font-size: 5px;
    font-weight: 400;
    max-width: 5vw;
}