<svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="dimensions.viewBox">
  <g id="YardSides">
    <rect id="FrontYard" data-name="Front Yard" class="yard" [attr.x]='dimensions.sideYard.leftX' y="12.5" [attr.width]='dimensions.lotWidth' [attr.height]='dimensions.frontYard' />
    <rect id="RearYard" data-name="Rear Yard" class="yard" [attr.x]='dimensions.sideYard.leftX' [attr.y]='dimensions.rearYard.y' [attr.width]='dimensions.lotWidth' [attr.height]='dimensions.rearYard.height' />
    <rect id="LeftSide" data-name="Side Yard" class="yard" [attr.x]='dimensions.sideYard.leftX' [attr.y]='dimensions.sideYard.y' [attr.width]='dimensions.sideYard.left' [attr.height]="dimensions.envelope.height"/>
    <rect id="RightSide" data-name="Side Yard" class="yard" [attr.x]='dimensions.sideYard.rightX' [attr.y]='dimensions.sideYard.y' [attr.width]='dimensions.sideYard.right' [attr.height]="dimensions.envelope.height"/>
  </g>
  <rect id="envelope" data-name="Building Envelope" class="envelope" [attr.x]="dimensions.envelope.x" [attr.y]="dimensions.envelope.y"  [attr.width]="dimensions.envelope.width" [attr.height]="dimensions.envelope.height" />
  <g id="Ways">
    <rect id="Driveway" data-name="Driveway" class="asphalt" [attr.x]='dimensions.driveway.x' y="12.5" [style.display]='dimensions.driveway.display' width="10" height="50"/>
    <rect id="Sidewalk" data-name="Sidewalk" class="walkway" [attr.x]="dimensions.widthLine.x2" y="15" [attr.width]='dimensions.lotWidth' height="2.5"/>
    <rect id="Walkway" data-name="Walkway" class="walkway" [attr.x]='dimensions.walkways.center' y="17.5" width="2.5" [attr.height]='dimensions.walkways.height'/>
    <rect id="Stoop" data-name="Stoop" class="walkway" [attr.x]='dimensions.walkways.stoop.center' [attr.y]='dimensions.walkways.stoop.y' width="6" height="2.5"/>
  </g>
  <g id="Outline">
    <rect id="LotOutline" data-name="Lot Outline" class="lotOutline" [attr.x]="dimensions.widthLine.x2" y="12.5" [attr.width]='dimensions.lotWidth' [attr.height]='dimensions.lotHeight'/>
  </g>
  <g id="Scales">
    <g id="LotDepth">
        <line class="scaleLine" [attr.x1]="dimensions.heightLine.x" y1="12.69" [attr.x2]="dimensions.heightLine.x" y2="112.31"/>
        <rect [attr.x]="dimensions.heightLine.endCapsX" y="12.5" width="2.44" height="0.38"/>
        <rect [attr.x]="dimensions.heightLine.endCapsX" y="112.13" width="2.44" height="0.38"/>
    </g>
    <g id="LotWidth">
        <line class="scaleLine" [attr.x1]="dimensions.widthLine.x1" y1="8.5" [attr.x2]="dimensions.widthLine.x2" y2="8.5"/>
        <rect [attr.x]="dimensions.widthLine.x1" y="7.28" width="0.38" height="2.44"/>
        <rect [attr.x]="dimensions.widthLine.x2" y="7.28" width="0.38" height="2.44"/>
    </g>
    <text class="scaleText" [attr.transform]="dimensions.widthLine.text">{{ dimensions.lotWidth }}’</text>
    <text class="scaleText" [attr.transform]="dimensions.heightLine.text">{{ dimensions.lotHeight }}’</text>
  </g>
</svg>
<h2 id="Title" class="title-zone">
  {{ currentZone }}
  <span class="title-bldg">
      {{ currentBldgType }}
  </span>
</h2>
<p #toolTip id='DiagramTextBox' [innerHTML]='diagramTextBox.content' [ngStyle]='diagramTextBox.style'></p>