<app-splash [backgroundSetting]='backgroundStyle' searchDisplay="inherit" parentFragment='/ehd'>
    <div splash-page class='clr-col'>
        <h3 class='dept clr-hidden-xs-down'>Office of</h3>
        <br>
        <h2 class='dept-ehd clr-hidden-xs-down'>Rent Control</h2>
    </div>
    <h2 splash-title class='splash-title'>
        <clr-icon shape='home' class='full-icon'></clr-icon>
        Welcome to Rent Control
    </h2>
    <div splash-buttons class="clr-col clr-col-xl-5 clr-col-lg-6 clr-col-md-8 clr-col-12 splash-buttons">
        <button class="btn btn-secondary btn-success btn-lg btn-block" [routerLink]="['/ehd', 'about']">
            <clr-icon shape='users' size='24'></clr-icon>
            About RC
        </button>
        <button *ngFor="let button of button$ " class="btn btn-primary btn-lg btn-block " [routerLink]="button.parentLink">
          <clr-icon [attr.shape]='button.icon' size='24'></clr-icon>
          <span class=" clr-hidden-sm-down ">{{ button.text }}</span>
          <span class="clr-hidden-sm-up ">{{ button.textSmall }}</span>
        </button>
    </div>
</app-splash>