.app-loading {
    .logo {
        width: 128px;
        height: 64px;
        background: url('assets/img/NwkEhdLogos/SVG/NwkEhd_Nwk_Mini.svg') center center no-repeat;
        background-size: cover;
    }
}