// Your Application Theme File
@import "./theme.scss";
// Clarity Component SCSS
@import "../node_modules/@clr/ui/src/utils/components.clarity";
// -------- Colors -----------
$primary-color: #0d47a1;
$info-color: lightblue;
$success-color: #B3F5C9;
$processing-color: #9C9372;
$error-color: #EB907D;
$highlight-color: #E8D04A;
$warning-color: #B57D7B;
$normal-color: #9C6F5A;
$white: #fff;
$black: #000;
$clr-global-app-background: deeppink;
// Base Scaffolding Variables
// ---
// Background color for `<body>`
$font: bold 12px 'Rubik',
sans-serif;
$code-family: 'SFMono-Regular',
Consolas,
'Liberation Mono',
Menlo,
Courier,
monospace;
$text-color: $black;
$text-color-secondary: opacify($black, .45);
$text-color-inverse: $white;
$icon-color: inherit;
$icon-color-hover: opacify($black, .75);
$heading-color: opacify(#000, .85);
$heading-color-dark: opacify($white, 1);
$text-color-dark: opacify($white, .85);
$text-color-secondary-dark: opacify($white, .65);
$text-selection-bg: $highlight-color;
$font-variant-base: tabular-nums;
$font-feature-settings-base: 'tnum';
$line-height-lg: 1.5em+calc(var(--vh) * .003);
$letter-spacing-lg: .015em+calc(var(--vw) * 0.1);
$font-size-sm: 10px+calc(var(--vw) * 0.1);
$font-size-base: 12px+calc(var(--vh)*0.3);
$font-size-lg: 16.4px+calc(var(--vw) * 0.175);
$font-size-wide: 10px+calc(var(--vw)*1);
$line-height-base: 1.5;
$border-radius-base: .5rem;
$border-radius-sm: .25rem;
// Animation
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);