<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="1" [(ngModel)]="sideMenuItems" ngDefaultControl>
    <a clrVerticalNavLink *ngFor="let sideMenuItem of sideMenuItems" [routerLinkActive]="['active']" [routerLink]="[sideMenuItem.path]">
        <clr-icon clrVerticalNavIcon [attr.shape]="sideMenuItem.icon">
        </clr-icon>
        <span class="nav-text clr-row clr-justify-content-center">{{ sideMenuItem.title }}</span>
    </a>
</clr-vertical-nav>
<div class='content-area'>
    <router-outlet></router-outlet>
</div>