@import '../../app.component.scss';
.splash-buttons {
    margin: auto;
    display: flex;
    .btn {
        display: flex;
        box-shadow: .1rem .1rem .25rem black;
        border-color: transparent;
        font-size: 1rem;
        width: 33vw;
        align-items: center;
        justify-content: space-between;
    }
}

#tabs-content {
    min-height: 50vh;
}

#search_input {
    width: 100%;
    border-radius: .25rem;
}

.secondary-content {
    height: auto;
    width: 100%;
    margin-bottom: 2rem
}