<form class="clr-form clr-col-12" [formGroup]="searchFormGroup">
    <div class="clr-form-control clr-flex-row">
        <label for="search"><clr-icon shape="search"></clr-icon></label>
        <clr-signpost>
            <div class="clr-control-container clr-col-11">
                <div class="clr-input-wrapper">
                    <input type="text" id="search" formControlName="searchKey" placeholder="What are you looking for?" class="clr-input">
                </div>
            </div>
            <clr-signpost-content [clrPosition]="'bottom-left'" *clrIfOpen>
                <ng-template #searchResults></ng-template>
            </clr-signpost-content>
        </clr-signpost>
    </div>
</form>
<!-- Datagrid -->
<clr-datagrid #searchResults (clrDgRefresh)="updatePage($event)" [clrDgLoading]="componentStatus === 'loading'">

    <!-- Header: First Name -->
    <clr-dg-column [clrDgField]="'hit'">
        <ng-container>Hit</ng-container>
    </clr-dg-column>

    <!-- Header: Last Name -->
    <clr-dg-column [clrDgField]="'page'">
        <ng-container>Page</ng-container>
    </clr-dg-column>

    <!-- Header: Email -->
    <clr-dg-column [clrDgField]="'office'">
        <ng-container>Office</ng-container>
    </clr-dg-column>

    <!-- Content -->
    <clr-dg-row *ngFor="let search of pageSearch">
        <clr-dg-cell>{{ search.Hit }}</clr-dg-cell>
        <clr-dg-cell>{{ search.page }}</clr-dg-cell>
        <clr-dg-cell>{{ search.office }}</clr-dg-cell>
    </clr-dg-row>

    <!-- Footer -->
    <clr-dg-footer>
        {{ searchCount > 0 ? pagination.firstItem + 1 : 0 }} - {{ searchCount > 0 ? pagination.lastItem + 1 : 0 }} of {{ pagination.totalItems }} Results
        <clr-dg-pagination #pagination [clrDgTotalItems]="searchCount" [clrDgPageSize]="pageSize"></clr-dg-pagination>
    </clr-dg-footer>

</clr-datagrid>