@import '../../../app.component.scss';
.clr-input {
    width: 100%;
    color: white;
    -webkit-text-fill-color: white;
    border-color: white;
    font-size: 1rem;
    font-weight: lighter;
}

clr-icon.clr-control-inline {
    color: white;
    -webkit-text-fill-color: white;
    height: 1rem;
    width: 1rem;
}

app-search {
    flex-basis: 4rem
}